/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: "wght" var(--main-card-font-weight);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header {
  border: 2px solid var(--accent-color);
  margin-block-start: 102px;
  margin-block-end: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-width);
  background-color: var(--bg-color);
}

.header__logo {
  font-size: var(--header-logo-size);
  font-family: var(--accent-font-family, fantasy);
  font-weight: var(--main-card-font-weight);
  color: var(--accent-color);
  margin-block-start: 120px;
  margin-block-end: 20px;
}

.header__title {
  font-size: var(--header-title-size);
  font-family: var(--accent-font-family, fantasy);
  font-weight: var(--main-card-font-weight);
  color: var(--accent-color);
  text-transform: uppercase;
}

.theme-menu {
  margin-block-start: 25px;
  margin-block-end: 25px;
  transform: translateX(10px);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.theme-menu__button {
  font-family: var(--accent-font-family, fantasy);
  font-weight: var(--main-card-font-weight);
  font-size: 14px;
  color: var(--accent-color);
  background-color: transparent;
  text-transform: uppercase;
  border: transparent;
}

.theme-menu__button:disabled::before {
  content: '\25BA';
  position: absolute;
  inset-inline-start: -13px;
  animation: moving 0.5s ease-in-out infinite alternate;
  color: var(--hover-color);
}

.theme-menu__button:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--bg-color);
}

.card {
  border: 2px solid var(--accent-color);
}

.card__title {
  color: var(--accent-color);
  font-size: 18px;
  font-variation-settings: "wght" var(--card-title-font-weight);
  padding: 0 10px;
}

.card__label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font-family, fantasy);
  color: var(--accent-color);
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-stroke-color);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  opacity: 0.5;
}

.card__image-container {
  position: relative;
  border: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image-grayscale {
  filter: grayscale(90%);
}

.image-brightness {
  filter: brightness(250%);
}

.image-hue-rotate {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: invert(80%);
}

.image-sepia {
  filter: sepia(100%);
}

.image-blur {
  filter: blur(2px);
}

.image-opacity {
  filter: opacity(50%);
}

.card__description {
  color: var(--accent-color);
  font-size: 18px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__controls {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  min-width: 169px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  animation: outline 0.3s ease forwards;
}

.button {
  width: 130px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__text {
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  color: var(--accent-color);
  position: relative;
  mix-blend-mode: normal;
}

.button_floppy {
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 8px;
  white-space: nowrap;
}

.floppy {
  width: 28px;
  height: 28px;
  color: var(--currentColor);
}

.popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup {
  width: 341px;
  padding: 32px 42px;
  border: 2px solid var(--currentColor);
}

.popup__text {
  max-width: 198px;
  font-size: 14px;
  font-family: var(--accent-font-family, fantasy);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--currentColor);
}

.without__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 25px;
}

.without__button .floppy {
  width: 39px;
  height: 39px;
}

.button__ok {
  width: 257px;
  height: 38px;
}


@media (width <= 375px) {
  .button_floppy {
    flex-direction: column;
  }
  
  .popup {
    inline-size: 100%;
  }
}